*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
:root{
    --backg-page:#F5F5F5;
    --color-blu:#4682B4;
    --color-purple:#7B68EE;
    --color-green:#3CB371;
    --color-orange:#F4A460;
    --color-pink:#DDA0DD;
    --color-pear:#9ACD32;
}
/* /utility */

/* header */
#logo{
    height: 4rem;
    margin-left: 2rem;
    vertical-align: middle;
}

#title{
    display: inline-block;
    font-size: 3rem;
    font-family: Arial Black;
}
/* /header */

/* main */
.main{
   background-color: var(--backg-page);
}

.header{
    background-color: white;
}

.button_blue{
    background-color:var(--color-blu);
    color: white;
    border-radius: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 10px;
    border: 0;
}


.button_gray{
   /*  background-color:white; */
   /*  color:gray; */
    text-decoration:var(--backg-page);
    border-radius: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 10px;
    border-bottom: 1px;
    border-color: var(--backg-page);
}

.list{
    background-color: white;
}

.title_list{
    font-size: 20px;
    font-family: Arial Black;
    display: block;
}

.botton1{
    background-color: var(--color-blu);
    border: 0;
    border-radius: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 6px;
}

/*  */