*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
:root{
    --backg-page:#F5F5F5;
    --color-blu:#4682B4;
    --color-purple:#7B68EE;
    --color-green:#3CB371;
    --color-orange:#F4A460;
    --color-pink:#DDA0DD;
    --color-pear:#9ACD32;
    --color-grey:#dadceb;
}
/* /utility */

/* header */
body{
    background-color: var(--backg-page);
}


.header{
    background-color: white;
    
}

#logo{
    height: 4rem;
    margin-left: 2rem;
    vertical-align: middle;
    margin-bottom: 1.2rem;
}

#title{
    display: inline-block;
    font-size: 3rem;
    font-family: Arial Black;
    padding-top: 0.5rem;
}
/* /header */

/* main */
.main{
    margin:60px auto 0;
    width: 900px;
  
}

.main-header{
    padding: 40px auto;
    background-color: white;
    padding: 15px;
    border-bottom: 2px solid #F5F5F5;
    padding-left: 40px;
}


.button_blue{
    background-color:var(--color-blu);
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}


.button_gray{
   background-color: white;
   color: var(--color-grey);
   border-radius: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
   border-color: var(--color-grey);
   border: solid 0.115rem;
}
/* fine parte principale con i bottoni */
.list{
    background-color: white;
    padding-bottom: 50px;
}

.title_list{
    font-size: 20px;
    font-family: Arial Black;
    padding: 10px;
    padding-left: 40px;
    padding-top: 40px;
    
}

.list_member{
    font-size: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-family: Arial;
}

.circlev{
    border: 1.5px solid black;
    border-radius: 50%;
    padding: 6px;
    border-color: greenyellow;
}

.circlex{
    border: 1.5px solid black;
    border-radius: 50%;
    padding: 6px;
    border-color: red;
}

.av{
    color: greenyellow;
}

.ax{
    color: red;
}

.button1{
    background-color: var(--color-blu);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button2{
    background-color: var(--color-purple);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button3{
    background-color: var(--color-green);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button4{
    background-color: var(--color-orange);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button5{
    background-color: var(--color-pink);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button6{
    background-color: var(--color-pear);
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}


/*  */